<!DOCTYPE html>
<html>

<head>
	<title>
		{{currentPage.name}} - {{siteName}}
	</title>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--Description-->
	<!--Author-->
	<meta name="author" content="{{owner.name}}">
	<!--Open Graph Title-->
	<meta property="og:title" content="{{siteName}}">
	<!--Open Graph Site Name-->
	<meta property="og:site_name" content="{{siteName}}">
	<!--Type page-->
	<meta property="og:type" content="website">
	<!--Page Cover-->
	<meta name="twitter:card" content="summary">
	{% if currentPage.description %}
	<meta name="description" content="{{currentPage.description}}">
	{% else %}
	<meta name="description" content="Dies ist website von {{siteName}}">
	{% endif %}
	<!-- Title -->
	<title>{{siteName}}</title>
	<!-- Custom CSS -->
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" type="text/css" href="{{workspaceUri}}/css/bootstrap.min.css">
	<!-- CSS decryptor -->
	<link rel="stylesheet" type="text/css" href="{{workspaceUri}}/css/main.css">
	<link rel="stylesheet" type="text/css" href="{{workspaceUri}}/css/font-awesome.css">
</head>

<body>

	<!-- navigation -->
	{% if pages|length > 0 and (not (currentPage.hideNavigation)) %}
	<nav id="mainMenu" class="navbar navbar-expand-md navbar-light {{teaserClass|e}}">
		<a class="navbar-brand" href="#">
			{{logo|raw}}
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
		 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="fas fa-bars"></span>
		</button>
		
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			{% if not (currentPage.hideNavigation) %}
			<ul class="nav navbar-nav mr-auto">
				{% for item in pages %}
				{% if not (item.hideInMainMenu) %}
					<li class="nav-item">
						{% set href = item.href %}
						{% if (not (item.href starts with 'http')) and (item.href ends with '.html') %}
							{% set prefix = "" %}
							{% if (pagesLinkPrefixEnabled == true) %}
								{% set prefix = pagesLinkPrefix %}
							{% endif %}
							{% if (item.anchor and currentPage.href == item.href) %}
								{% set href = "#" ~ item.anchor %}
							{% else %}
								{% set href = prefix ~ item.href %}
							{% endif %}
						{% endif %}
						<a class="nav-link {% if item.name == currentPage.name %}active{% endif %}" href="{{ href|e }}">
							{{ item.name|e }}
						</a>
					</li>
					</span>
					{% endif %}
					{% endfor %}
				</li>
				{% endif %}
			</ul>
		</div>
			
			<!--	
			<div class="theme-switch">
				<i class="fas fa-sun"></i>
				<i class="fas fa-moon"></i>
			</div>
		-->
	</nav>
	{% endif %}		

	<!-- main content -->
	{{body|raw}}
	
	<!-- footer -->
	<footer class="footer-content">
		<div class="container">
			<div class="row copyright">
				<div class="col-12">

					{% for item in pages %}
					{% if item.showInFooter %}
					<span>
						{% set href = item.href %}
						{% if (not (item.href starts with 'http')) and (item.href ends with '.html') %}
							{% set prefix = "" %}
							{% if (pagesLinkPrefixEnabled == true) %}
								{% set prefix = pagesLinkPrefix %}
							{% endif %}
							{% if (item.anchor and currentPage.href == item.href) %}
								{% set href = "#" ~ item.anchor %}
							{% else %}
								{% set href = prefix ~ item.href %}
							{% endif %}
						{% endif %}
						<a href="{{ href|e }}">{{ item.name|e }}</a>
					</span>
					{% endif %}
					{% endfor %}

					© {{ "now"|date("Y") }} {{siteName}}
				</div>
			</div>
			<div class="row">
				<div class="col-12 col-sm-6 footer-about">
					<p>
						This Website inkl. Design was created by
						<!-- TODO improve support for development links -->
						<a href="home.html#about">{{owner.name}}</a>.
					</p>
					<p>
						Last updated {{lastUpdated|date("d.m.Y")}}.
					</p>
				</div>

				<div class="col-12 col-sm-6">
					<ul class="list-inline footer-social-icons">

						<li class="list-inline-item">
							<a href="#" title="LinkedIn me">
								<i class="fab fa-linkedin"></i>
							</a>
						</li>

						<li class="list-inline-item">
							<a href="#" title="Xing me">
								<i class="fab fa-xing"></i>
							</a>
						</li>

						<li class="list-inline-item">
							<a href="#" title="Twitter me">
								<i class="fab fa-twitter"></i>
							</a>
						</li>

						<li class="list-inline-item">
							<a href="#" title="Github me">
								<i class="fab fa-github"></i>
							</a>
						</li>

						<li class="list-inline-item">
							<a href="#" title="Bitbucket me">
								<i class="fab fa-bitbucket"></i>
							</a>
						</li>

						<li class="list-inline-item">
							<a href="#" title="Mail me">
								<i class="far fa-envelope"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</footer>

	<!-- jQuery -->
	<script src="{{workspaceUri}}/js/jquery.js"></script>

	<!-- Needed for menu and scrollspy-->
	<script src="{{workspaceUri}}/js/bootstrap.js"></script>

	<!-- Custom JavaScript -->
	<script src="{{workspaceUri}}/js/main.js"></script>
</body>

</html>
