<!--
	If you want to add new pages, do not forget to add them in your site-config.json
-->
<section class="spacer">
	<div class="container">
		<div class="row">
			<div class="col-12">
				This is my (static) homepage
			</div>
		</div>
	</div>
</section>
<section>
	<div class="container">
		<div class="row">
			<div class="col-12">
				...and some more content
			</div>
		</div>
	</div>
</section>
